*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
:root {
  --primary: #119c83;
}
body {
  font-family: Geneva, Verdana, sans-serif;
  overflow-x: hidden;
}
/* ********** Utility Classes */

.go-to-top {
  position: fixed;
  bottom: 3rem;
  right: 2rem;
  z-index: 1;
  padding: 2rem;
  border-radius: 50%;
  cursor: pointer;
  background-color: var(--primary);
}
.go-to-top > * {
  font-size: 2.5rem;
  font-weight: bold;
  color: #fff;
}

.loader {
  width: 100vw;
  height: 100vh;
  z-index: 99999;
  background: url("../images/loader.gif") center no-repeat;
}
.loader::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.884);
}
.container {
  max-width: 1200px;
  width: 90%;
  margin: auto;
}
.flex {
  display: flex;
}
.relative {
  position: relative;
}
.t-center {
  text-align: center;
}
.btn {
  display: block;
  padding: 1.5rem 3.5rem;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-size: 1.4rem;
}
.btn-primary {
  color: #fff;
  background-color: var(--primary);
  opacity: 0.7;
  transition: all 0.3s;
}
.btn-flat {
  border-radius: 0.5rem;
}
.btn-primary:hover {
  opacity: 1;
}
/* ***************Navbar styling Start*********** */

/* For Desktop */
.hamburger-lines {
  display: none;
  cursor: pointer;
  font-size: 2.5rem;
  transition: all 0.3s;
}
.hamburger-lines .line {
  background-color: black;
  height: 2px;
  display: block;
}
.hamburger-lines > * {
  margin-top: 0.3rem;
}
.navbar {
  box-shadow: 0 5px 10px 0 #aaa;
  position: sticky;
  top: 0;
  color: rgb(0, 0, 0);
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.7);
}

.navbar .navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
}

.navbar .menu-items {
  display: flex;
  font-size: 1.8rem;
  order: 2;
  transition: all 0.3s;
}
.menu-items li {
  margin-left: 1.4rem;
}
a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  transition: all 0.3s;
}
.menu-items a:hover {
  color: #117964;
}
.logo {
  font-family: Geneva, Verdana, sans-serif;
  order: 1;
  font-size: 3rem;
  font-weight: bold;
}
/* Navbar Styling end */

/* Home styling start */
.show-case {
  background-image: linear-gradient(
      rgba(70, 70, 70, 0.3),
      rgba(71, 71, 71, 0.5)
    ),
    url("../images/header-image2.jpg");
  height: 400px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
/* ***********show-case styling ************* */
.show-case-item-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}
.show-case-item-container > * {
  margin-top: 1rem;
}
.show-case-heading {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: bolder;
}
.show-case-text {
  font-size: 1.4rem;
  color: rgb(32, 32, 32);
}
/* Home styling end... */

/* About Us styling start */
.about-us-heading {
  font-size: 1.5rem;
}
.about-us-content-container > .about-us-text-content {
  position: absolute;
  left: -50%;
  animation: swipe 1.5s ease 1.1s 1 forwards;
  width: 50%;
}

.about-us-content-container > .about-us-image {
  position: absolute;
  right: -50%;
  animation: swipe 1.5s ease-in-out 1.1s 1 forwards;
  width: 50%;
}
.about-us-image img {
  width: 100%;
}
.aboutus {
  position: relative;
  margin-top: 12rem;
  background-color: rgba(108, 108, 108, 0.1);
  padding: 2rem;
}
.about-us-all-content {
  height: 400px;
}
.about-us-text-content-heading {
  font-size: 2.5rem;
  text-transform: capitalize;
  line-height: 40px;
  margin-bottom: 10px;
}
.about-us-text-content-para {
  font-size: 1.4rem;
  font-family: sans-serif;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.7);
}
/* About Us styling end... */

/* Type of stling start */
.types-of-food {
  position: relative;
  margin-top: 10rem;
  width: 100%;
}
.types-of-food-label {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 5rem;
  text-transform: uppercase;
}
.types-of-food-images {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-gap: 2rem;
}

.image-overlay-content-parent {
  display: grid;
  place-items: center;
  height: 0;
  background-color: rgba(0, 0, 0, 0.7);
  transition: all 0.4s;
  overflow: hidden;
  position: absolute;
  width: 100%;
  bottom: 0;
}
.overlay-heading {
  text-align: center;
  color: #fff;
}
.image-overlay-content > * {
  margin-top: 1rem;
}
.image-container {
  height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.image-container:hover .image-overlay-content-parent {
  height: 100%;
}
.food-1 {
  background-image: url("../images/food1.jpg");
}
.food-2 {
  background-image: url("../images/food2.jpg");
}
.food-3 {
  background-image: url("../images/food3.jpg");
}
/* Type of food end... */

/* Food Menu styling starts */
.food-menu-label {
  font-size: 2rem;
  margin-top: 50px;
}
.food-menu {
  margin-top: 20px;
}
.food-menu-items-container {
  display: flex;
  overflow-x: hidden;
  margin-top: 3rem;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.food-menu-items-container::-webkit-scrollbar {
  display: none;
  background-color: transparent;
}
.left-button {
  position: absolute;
  left: 1rem;
  top: 50%;
}
.left-button button,
.right-button button {
  opacity: 0.9;
}
.right-button {
  position: absolute;
  right: 1rem;
  top: 50%;
}
.food-menu-items-container > * {
  margin: 0 3rem;
}
.order-button {
  width: 100%;
}
.order-button > .btn {
  width: 90%;
  display: block;
}
.food-menu-item img {
  border-radius: 5%;
}
.food-menu-item {
  display: flex;
  flex-direction: column;
  transition: all 0.3s;
}
.food-menu-item-text-heading {
  font-size: 2rem;
}

.food-menu-item-para {
  font-size: 1.2rem;
  color: rgba(99, 99, 99, 0.849);
}
.price-text {
  font-size: 1.4rem;
  color: #349987;
}
.food-menu-item-text {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.food-menu-item-text > * {
  margin-top: 0.5rem;
  margin-left: 1rem;
}

/* Food menu styling end... */

/* Testimonial styling start */
.testimonial {
  width: 100%;
  background-color: rgba(175, 170, 170, 0.1);
  margin-top: 150px;
  padding-top: 40px;
}
.testimonial-label {
  font-size: 2rem;
  text-transform: capitalize;
}
.testimonial-item-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  height: 300px;
}

.testimonial-item-container img {
  border-radius: 50%;
}

.rating {
  color: rgb(231, 209, 13);
  font-size: 1.5rem;
}
.customer-review-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.rating-para {
  font-size: 1.3rem;
  color: rgba(104, 101, 101, 0.664);
}
.rating-person-name {
  font-size: 1.3rem;
}

/* Testomial styling end...  */

/* contact styling start */
.contact {
  background-color: rgba(212, 208, 208, 0.808);
}
.contact-form {
  margin-left: -80px;
  background-color: #fff;
}
.contact-items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1.1fr);
}
.contact-form form {
  display: flex;
  flex-direction: column;
}

.contact-form form > button {
  align-self: flex-start;
}

form input,
textarea {
  padding: 1rem;
  border: none;
  border-bottom: 2px solid rgb(155, 155, 155);
  outline: none;
  font-size: 1.5rem;
  transition: all 0.2s;
}
input:focus,
textarea:focus {
  border-bottom: 3px solid var(--primary);
  color: var(--primary);
}
textarea {
  height: 130px;
  resize: none;
}

form > * {
  margin-top: 1rem;
}

.footer {
  font-size: large;
  background-color: rgb(37, 37, 37);
  color: #fff;
  margin-top: 3rem;
  position: relative;
  bottom: 0;
  height: 50vh;
}
.deep-footer {
  font-weight: lighter;
  padding: 0.2rem 1rem;
  position: absolute;
  bottom: 1rem;
  font-size: 1.5rem;
}
.social-media-links a {
  font-size: 5rem;
  margin: 0 0.5rem;
  display: inline-block;
}
.social-media-links a {
  border-radius: 50%;
}

.social-media-links {
  position: absolute;
  bottom: 0;
  right: 2rem;
}

.social-media-links a:nth-child(1) {
  color: #3b5998;
}
.social-media-links a:nth-child(2) {
  color: #1da1f2;
}
.social-media-links a:nth-child(3) {
  color: #0077b5;
}
.social-media-links {
  padding: 1rem;
}

.quick-links-heading {
  font-size: 2rem;
  font-weight: bolder;
  margin-bottom: 1rem;
}
.quick-links-items {
  margin-bottom: 1rem;
  position: absolute;
  right: 1rem;
}
.quick-links-items {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  top: 3rem;
  padding: 2rem;
}
.quick-links-item a {
  display: inline-block;
  margin-bottom: 0.5rem;
  color: #fff;
}
.quick-links-items a:hover {
  color: var(--primary);
}
.hr {
  border: 0.5px solid rgba(163, 163, 163, 0.815);
  width: 100%;
  margin-bottom: 1rem;
  position: absolute;
  bottom: 6rem;
}
/* For Tablet */
@media (max-width: 1180px) {
  .about-us-content-container {
    flex-direction: column;
    text-align: center;
  }
  .about-us-content-container > * {
    width: 100% !important;
  }
  .types-of-food {
    margin-top: 35rem;
  }
}

/* For Mobile */
@media (max-width: 940px) {
  .testimonial-item-container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 30px 12px;
    height: 600px;
    margin-bottom: 2rem;
  }

  .contact-items {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .contact-form {
    width: 100%;
    margin: auto;
  }
  .menu-items {
    position: absolute;
    flex-direction: column;
    top: 64px;
    left: -100%;
    width: 300px;
    height: 100vh;
  }
  .menu-items > * {
    margin: 1rem 0;
  }
  .hamburger-lines {
    display: block;
    z-index: 20;
    height: 30px;
    width: 20px;
  }
}
/* For Small Devices */
@media (max-width: 800px) {
  .types-of-food-images {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
  }
  .types-of-food {
    margin-top: 50rem;
  }
}

.show-nav {
  left: 0;
  background-color: rgba(243, 243, 243, 0.863);
}

/* Animations  */
@keyframes swipe {
  99% {
    position: relative;
    left: 0;
    right: 0;
  }
  100% {
    position: static;
  }
}
